h1
{
  color:BLACK;
}
.myimage{
  height: 400px;
}
.gee{
  background-image: url("https://bit.ly/38aGrh2");
  background-size: cover;
  height: 50vh;
  
}
.odoyo{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;

}
.odoyo h1{
  color: white;
  
}
